body {
    background-color: rgb(100, 91, 197);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

#root {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    font-family: Digital-7;
    max-height: 200px;
    max-width: 900px;
    min-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}

p {
    color: rgb(100, 91, 197);
    font-size: 200px;
}